@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    text-align: center;
}

body{
    margin: 0px;
    padding: 0px;
}
/*CLASES CAJA 1*/
.cajaTelefonos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0d2d62;
    padding: 14px;
    align-items: center;
}

.caja1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 95px;
}

.cajaPadre{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.iconoTelefono{
    font-size: 20px;
    color: #556e92;
    margin-right: 10px;
}

.enlaceHeader{
    /*TEXTO*/
    font-family: 'Roboto', sans-serif;
    float: left;
    font-size: 0.9em;
    color: white;
    text-decoration: none;

    transition: all 0.3s;
}

.enlaceHeader:hover{
    color: #556e92;
}

.iconoUbicacion{
    font-size: 20px;
    color: #556e92;
    margin-right: 10px;
}

.iconoMail{
    font-size: 20px;
    margin-right: 10px;
    color: #556e92;
}

.iconoLog{
    margin-right: 10px;
    font-size: 20px;
    color: #556e92;
}

/*CLASES CAJA 2*/
.cajaLogo{
    display: flex;
    flex-direction: row;
    margin-top: -15px;
    margin-left: -20px;
}

.cajaMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 14px;
    align-items: center;
    border: 1px solid  #0d2d62;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    background-repeat: no-repeat; 
    width: 87px;
    height: 89px;
    margin-top: 25px;
    margin-left: 65px;
}

.enlaceTitulo{
    /*TEXTO*/
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    margin-top: 43px;
    margin-left: 15px;
}

.enlaceUniversity{
    width: 200px;
    height: 20px;
    margin-top: 40px;
    margin-left: -135px;
    /*TEXTO*/
    font-family: 'Merriweather', serif;
    font-size: .9em;
    color: #a1a1a1;
    text-decoration: none;
}

/*CLASES DEL MENU*/
.layout{
    display: flex;
    flex-direction: row;
}

.layout ul li{
    display: inline; 
    list-style: none;
}

.layout ul{
    display: flex;
}

.layout ul li a{
    display: flex;
    align-items: center; 
    list-style: none;
}

.enlace{
    font-weight: bold;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    color: #2d394b;
    text-align: center;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

    transition: all 0.3s;
}

.enlaceCarrito{
    font-weight: bold;
    margin-top: -5px;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    color: #2d394b;
    text-align: center;
    padding: 10px 20px 10px 5px;
    text-decoration: none;

    transition: all 0.3s;
}

.enlaceRojo{
    color: #af1e33;
}

.enlace:hover{
    color: #af1e33;
}

#buscar{
    font-size: 1em;
}

#flecha{
    font-weight: bold;
    font-size: 9px;
    margin-left: 5px;
}

#iconoCarrito{
    margin-top: 7px;
    margin-left: 50px;
    font-size: 15px;
    color: black;
}

.enlaceCarrito{
    /*TEXTO*/
    font-weight: bold;
    font-family: 'Merriweather', serif;
    float: left;
    font-size: 1em;
    color: black;
    text-decoration: none;

    transition: all 0.3s;
}

.enlaceCarrito:hover{
    color: #af1e33;
}

/*CLASES CAJA 3*/
.cajaFrase{
    border: 1px solid #0d2d62;
    background-color: #0d2d62;
    height: 450px;
    align-items: center;
}

.circuloFlecha{
    background-color: #001c5e;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: -40px;
    margin-left: -15px;
    padding: 0px;
    align-items: center;
    opacity: 0;

    transition: all 0.3s;
}

.iconoFlecha{
    margin-top: 220px;
    margin-left: 35px;
    font-size: 25px;
    color: white;
}

.circuloFlecha:hover{
    opacity: 1;
}

.iconoComillas{
    margin-top: -150px;
    margin-left: 370px;
    font-size: 50px;
    color: #556e92;
}

.frase{
    position: absolute;
    z-index: 2;
    width: 920px;
    height: 50px;
    margin-top: -34px;
    margin-left: 390px;
    /*TEXTO*/
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-align: left;
    float: left;
    font-size: 1.5em;
    color: white;
}

.autor{
    position: absolute;
    z-index: 2;
    height: 50px;
    margin-top: 120px;
    margin-left: 1200px;
    /*TEXTO*/
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-align: left;
    float: left;
    font-size: 1.15em;
    color: white;
}

.diploma{
    position: absolute;
    z-index: 2;
    height: 50px;
    margin-top: 150px;
    margin-left: 1000px;
    /*TEXTO*/
    font-family: 'Roboto', sans-serif;
    text-align: left;
    float: left;
    font-size: 1em;
    color: #56687f;
}

.user{
    background-repeat: no-repeat; 
    border-radius: 50%;
    width: 230px;
    height: 230px;
    margin-top: -50px;
    margin-left: 1350px;
}

.circuloFlecha2{
    background-color: #001c5e;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: -40px;
    margin-left: -15px;
    padding: 0px;
    align-items: center;
    opacity: 0;

    transition: all 0.3s;
}

.iconoFlecha2{
    margin-top: -130px;
    margin-left: 1850px;
    font-size: 25px;
    color: white;
}

.circuloFlecha2:hover{
    opacity: 1;
}

/*CLASES CAJA 4*/
.cajaEventos{
    border: 1px solid #f6f7fb;
    background-color: #f6f7fb;
    height: 900px;
}

.textEvents{
    width: 200px;
    height: 30px;
    margin-top: 95px;
    margin-left: 870px;
    /*TEXTO*/
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-align: left;
    float: left;
    font-size: 2.6em;
    color: black;
}

.textLine{
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-left: 905px;
    /*TEXTO*/
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-align: left;
    float: left;
    font-size: 2.6em;
    color: black;
}

.cajaContenedora{
    display: inline-block;
    margin-right: 400px;
}

.cajaTransicion{
    position: absolute;
    z-index: 1;
    width: 420px;
    height: 500px;
    margin-top: 250px;
    margin-left: -1000px;
}

.cajaTransicion2{
    position: absolute;
    z-index: 1;
    width: 420px;
    height: 500px;
    margin-top: 250px;
    margin-left: -950px;
}

.cajaTransicion3{
    position: absolute;
    z-index: 1;
    width: 420px;
    height: 500px;
    margin-top: 232px;
    margin-left: -90px;
}

.img{
    width: 420px;
    height: 420px;
    transform: scale(1);
    transition: transform 1s;
}

.transparencia {
    width: 420px;
    height: 420px;
    background-color: #0d2d62;
    position: relative;
    top: -424px;
    opacity: 0;
    /*OPACIDAD INICIAL*/
    transition: opacity 0.5s;
}

.cajaTransicion:hover .transparencia{
    opacity: 0.7;
}

.cajaTransicion:hover .boton1{
    margin-top: -700px;
    opacity: 1;
}

.cajaTransicion:hover .boton2{
    margin-top: -630px;
    opacity: 1;
}

.boton1{
    position: absolute;
    z-index: 1;
    width: 160px;
    height: 30px;
    background-color: #af1e33;
    border-radius: 10px;
    margin-top: -600px; /*-700px*/
    margin-left: 125px;
    /*TEXTO*/
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    padding-bottom: 20px;
    opacity: 0;

    transition: all 0.3s;
}

.boton1:hover{
    color: #af1e33;
    background-color: white;
}

.boton2{
    position: absolute;
    z-index: 1;
    width: 160px;
    height: 30px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: -530px; /*-630px*/
    margin-left: 125px;
    /*TEXTO*/
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    padding-bottom: 20px;
    opacity: 0;

    transition: all 0.3s;
}

.boton2:hover{
    color: black;
    background-color: white;
}

.fecha{
    background-color: #0d2d62;
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 90px;
    height: 80px;
    margin-top: 670px;
    margin-left: -1000px;
}

.numero{
    position: absolute;
    z-index: 2;
    width: 90px;
    height: 10px;
    /*TEXTO*/
    font-family: 'Roboto', sans-serif;
    text-align: center;
    float: left;
    font-size: 1.9em;
    color: white;
}

.mes{
    position: absolute;
    z-index: 2;
    width: 90px;
    height: 10px;
    margin-top: 35px;
    /*TEXTO*/
    font-family: 'Roboto', sans-serif;
    text-align: center;
    float: left;
    font-size: .9em;
    color: white;
}

.hora{
    position: absolute;
    z-index: 2;
    width: 90px;
    height: 10px;
    margin-top: 60px;
    /*TEXTO*/
    font-family: 'Roboto', sans-serif;
    text-align: center;
    float: left;
    font-size: .9em;
    color: white;
}

.enlaceEvento{
    position: absolute;
    z-index: 2;
    width: 260px;
    height: 20px;
    margin-top: 680px;
    margin-left: -900px;
    /*TEXTO*/
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    color: #af1e33;
    text-decoration: none;

    transition: all 0.3s;
}

.enlaceEvento:hover{
    color: #0d2d62;
}

.enlaceImpartidor{
    position: absolute;
    z-index: 2;
    width: 250px;
    height: 20px;
    margin-top: 720px;
    margin-left: -940px;
    /*TEXTO*/
    font-family: 'Roboto', sans-serif;
    float: left;
    font-size: 1em;
    color: #56687f;
    text-decoration: none;

    transition: all 0.3s;
}

.enlaceImpartidor:hover{
    color: #0d2d62;
}

.enlaceImpartidor:hover #iconoUser{
    color: #0d2d62;
}

.enlaceEvento2{
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 20px;
    margin-top: 660px;
    margin-left: -930px;
    /*TEXTO*/
    font-family: 'Merriweather', serif;
    float: left;
    text-align: left;
    font-size: 1em;
    color: #af1e33;
    text-decoration: none;

    transition: all 0.3s;
}

.enlaceEvento2:hover{
    color: #0d2d62;
}

.boton3{
    position: absolute;
    z-index: 2;
    width: 220px;
    height: 30px;
    background-color: #af1e33;
    border-radius: 10px;
    margin-top: 800px;
    margin-left: -250px;
    /*TEXTO*/
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    padding-bottom: 20px;

    transition: all 0.3s;
}

.boton3:hover{
    background-color: #0d2d62;
}

#flecha2{
    color: white;
    font-weight: bold;
    font-size: 1em;
    margin-left: 5px;
}

#iconoUser{
    font-weight: bold;
    font-size: 15px;
    margin-left: 50px;
    position: absolute;
    z-index: 2;
    color: #af1e33;
}
/*CLASES CAJA 5*/
.cajaGaleria{
    height: 299px;
}

.img2{
    width: 383px;
    height: 382px;
    transform: scale(1);
    transition: transform 1s;
}

.cajaContenedoraGaleria{
    display: inline-block;
    margin-right: 400px;
}

.cajaTransicionGaleria{
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 299px;
    margin-top: -14px;
    margin-left: 0px;
}

.transparenciaGaleria {
    width: 383px;
    height: 382px;
    background-color: black;
    position: relative;
    top: -386px;
    opacity: 0;
    /*OPACIDAD INICIAL*/
    transition: opacity 0.5s;
}

.cajaTransicionGaleria:hover .transparenciaGaleria{
    opacity: 0.4;
}

.lupa{
    position: absolute;
    z-index: 1;
    margin-top: -420px; /*-600px*/
    margin-left: 170px;
    /*TEXTO*/
    font-size: 32px;
    color: white;
    text-decoration: none;
    opacity: 0;

    transition: all .4s;
}

.cajaTransicionGaleria:hover .lupa{
    margin-top: -600px;
    opacity: 1;
}

/*CLASES CAJA 6*/
.cajaContacto{
    height: 300px;
}

.cajaLogo2{
    display: flex;
    flex-direction: row;
    margin-top: 155px;
    margin-left: 299px;
}

.img3{
    background-repeat: no-repeat; 
    width: 170px;
    height: 172px;
    margin-top: 0px;
    margin-left: 65px;
}

.enlaceTitulo2{
    /*TEXTO*/
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    margin-top: 190px;
    margin-left: -160px;
}

.enlaceUniversity2{
    width: 200px;
    height: 20px;
    margin-top: 180px;
    margin-left: -40px;
    /*TEXTO*/
    font-family: 'Merriweather', serif;
    font-size: .9em;
    color: #a1a1a1;
    text-decoration: none;
}

.cajaContactUs{
    display: flex;
    flex-direction: row;
    margin-top: -398px;
    margin-left: 665px;
}

.text{
    /*TEXTO*/
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    margin-top: 190px;
    margin-left: 0px;
}

.line1{
    /*TEXTO*/
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    color: #af1e33;
    text-decoration: none;
    margin-left: -290px;
    margin-top: -10px;
}

.line2{
    /*TEXTO*/
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    color: #c3c3c3;
    text-decoration: none;
    margin-left: 50px;
    margin-top: -20px;
}

.cajaIconos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    margin-left: -340px;
}

.cajaIconos2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 95px;
    margin-top: 250px;
    margin-left: -233px;
}

.cajaIconos3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 95px;
    margin-top: 320px;
    margin-left: -440px;
}

.enlaceContacto{
    /*TEXTO*/
    font-family: 'Roboto', sans-serif;
    float: left;
    font-size: 0.9em;
    color: #a1a1a1;
    text-decoration: none;

    transition: all 0.3s;
}

.enlaceContacto:hover{
    color: #0d2d62;
}

.cajaRedes{
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 38px;
    margin-top: 360px;
    margin-left: -10px;
}

.circuloFb{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ddd;
    align-items: center;
    text-align: center;
    margin-top: 3px;
    margin-left: 10px;

    transition: 0.5s;
}

.iconoFacebook{
    margin-top: 10px;
    font-size: 20px;
    color:#7d7d7d; 
}

.circuloFb:hover{
    background-color: #3b5998;
}

.circuloFb:hover .iconoFacebook{
    color: white;
}

.circuloTwt{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ddd;
    align-items: center;
    text-align: center;
    margin-top: -40px;
    margin-left: 60px;

    transition: 0.5s;
}

.iconoTwt{
    margin-top: 10px;
    font-size: 20px;
    color:#7d7d7d; 
}

.circuloTwt:hover{
    background-color: #00acee;
}

.circuloTwt:hover .iconoTwt{
    color: white;
}

.circuloGoogle{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ddd;
    align-items: center;
    text-align: center;
    margin-top: -40px;
    margin-left: 110px;

    transition: 0.5s;
}

.iconoGoogle{
    margin-top: 10px;
    font-size: 20px;
    color:#7d7d7d; 
}

.circuloGoogle:hover{
    background-color: #e2432e;
}

.circuloGoogle:hover .iconoGoogle{
    color: white;
}

.circuloIG{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ddd;
    align-items: center;
    text-align: center;
    margin-top: -40px;
    margin-left: 160px;

    transition: 0.5s;
}

.iconoIG{
    margin-top: 10px;
    font-size: 20px;
    color:#7d7d7d; 
}

.circuloIG:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.circuloIG:hover .iconoIG{
    color: white;
}

.cajaNewletter{
    display: flex;
    flex-direction: row;
    margin-top: -340px;
    margin-left: 1160px;
}

.descripcion{
    margin-top: 30px;
    width: 350px;
    font-family: 'Roboto', sans-serif;
    float: left;
    font-size: .95em;
    color: #a1a1a1;
}

.redondeado {
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    padding: 10px;
    margin-top: 10px;
    margin-left: -100px;
}

.botonFinal{
    position: absolute;
    z-index: 1;
    width: 110px;
    height: 37px;
    background-color: #ba0f24;
    margin-top: -37px; 
    margin-left: 250px;
    /*TEXTO*/
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
    color: white;
    text-decoration: none;
    padding-top: 10px;

    transition: all .3s;
}

.botonFinal:hover{
    background-color: #0d2d62;
}